# why we are using Pandas

# üìä Pandas Overview  

**Pandas** is a powerful Python library used for **data manipulation and analysis**.  
It provides efficient and flexible data structures like **DataFrame** (2D) and **Series** (1D),  
making it easy to **clean, transform, and analyze data**.  

---

## üîπ Key Features of Pandas  

- üì• **Easy Data Import** ‚Üí from CSV, Excel, SQL, etc.  
- üßπ **Data Cleansing** ‚Üí handle missing or incorrect values easily.  
- üìè **Size Mutability** ‚Üí add/delete columns and rows dynamically.  
- üîÑ **Reshaping and Pivoting** ‚Üí transform datasets into desired formats.  
- ‚ö° **Efficient Data Manipulation & Extraction** ‚Üí fast filtering, selection, and aggregation.

# There are mainly two Data Structures in Pandas  

## 1. **Series** ‚Üí 1D  
## 2. **DataFrame** ‚Üí 2D  

**Data Structures** are collections of data types that provide the best way of organizing items (values) in terms of memory usage.

| Feature                            | **Series** (1D)                                         | **DataFrame** (2D)                                               |
|------------------------------------|---------------------------------------------------------|-------------------------------------------------------------------|
| **Definition**                     | One-dimensional labeled array                           | Two-dimensional labeled table (rows + columns)                    |
| **Values mutability**              | **Mutable** ‚Äî elements can be assigned/changed in-place | **Mutable** ‚Äî cell values can be assigned/changed in-place        |
| **Structural mutability**          | Structural ops (drop/concat/reindex) **usually return a new object** | Structural ops (drop/concat/rename) **usually return a new object** |
| **Index / axes**                   | Single index                                            | Row index + column labels                                         |
| **Data types**                     | Typically homogeneous (backed by ndarray)               | Heterogeneous (different dtypes per column)                       |
| **Common creation**                | `pd.Series([1,2,3])`                                    | `pd.DataFrame({'a':[1,2],'b':[3,4]})`                             |
| **Interview tip**                  | Emphasize difference: *values* can change in-place; *structure* changes often create copies. |

In [28]:
import pandas as pd
#1. Values are mutable (in-place change works)
# Series Example
s = pd.Series([1, 2, 3])
print("Original Series:\n", s)

# Change element in-place
s[0] = 100
print("\nAfter s[0] = 100 (value mutation):\n", s)

# DataFrame Example
df = pd.DataFrame({"A": [10, 20], "B": [30, 40]})
print("\nOriginal DataFrame:\n", df)

# Change a single cell in-place
df.loc[0, "A"] = 999
print("\nAfter df.loc[0,'A'] = 999 (value mutation):\n", df)

Original Series:
 0    1
1    2
2    3
dtype: int64

After s[0] = 100 (value mutation):
 0    100
1      2
2      3
dtype: int64

Original DataFrame:
     A   B
0  10  30
1  20  40

After df.loc[0,'A'] = 999 (value mutation):
      A   B
0  999  30
1   20  40

In [29]:
#üîπ 2. Structural changes return new objects (immutability-like behavior)
# Drop operation on Series
s2 = s.drop(1)   # removes index 1
print("\nResult of s.drop(1):\n", s2)
print("\nOriginal Series remains unchanged:\n", s)

# Drop operation on DataFrame
df2 = df.drop(columns="B")
print("\nResult of df.drop(columns='B'):\n", df2)
print("\nOriginal DataFrame remains unchanged:\n", df)

Result of s.drop(1):
 0    100
2      3
dtype: int64

Original Series remains unchanged:
 0    100
1      2
2      3
dtype: int64

Result of df.drop(columns='B'):
      A
0  999
1   20

Original DataFrame remains unchanged:
      A   B
0  999  30
1   20  40

## üîë Pandas Mutability (Interview Note)

- **Series & DataFrame are not fully immutable.**  
- **Values are mutable** ‚Üí can update in-place (`s[0]=5`, `df.loc[0,'col']=7`).  
- **Structural changes** (add/remove rows/cols) ‚Üí usually return a **new object** (`drop`, `concat`, `reindex`).  
- `inplace=True` exists but is discouraged (may still copy internally).  

üëâ **Interview phrasing:**  
‚ÄúPandas allows in-place modification of values, but structural operations generally return new objects ‚Äî so treat element mutation and structure mutation differently.‚Äù

## üîπ Homogeneous Nature of Pandas Series  

- A **Series is homogeneous** ‚Üí all elements share the **same dtype**.  
- If we insert a different type, Pandas **upcasts** all values to the most common compatible dtype.  

### Example:

In [30]:
import pandas as pd

# Mixed types: int + string
s3 = pd.Series([10, 23, 43, 54, "abcs"])
print(s3)
print("Dtype:", s1.dtype)

# Pure integers
s2 = pd.Series([10, 23, 43, 54])
print(s2)
print("Dtype:", s2.dtype)

0      10
1      23
2      43
3      54
4    abcs
dtype: object
Dtype: object
0    10
1    23
2    43
3    54
dtype: int64
Dtype: int64

In [31]:
s=pd.Series([10,23,43,4,45,56,78])
s

0    10
1    23
2    43
3     4
4    45
5    56
6    78
dtype: int64

In [32]:
s.dtype

dtype('int64')

In [33]:
#here we are give s.name and it give None b/c we have not asign any value to 
#the column
print(s.name)

None

In [34]:
# now I am assinging the value the to the colume 
s.name="numbers"

In [35]:
print(s)

0    10
1    23
2    43
3     4
4    45
5    56
6    78
Name: numbers, dtype: int64

# üìå Indexing in Pandas Series  

A **Series** is like a 1D array with **labels (index)**. Indexing helps access, slice, and filter elements efficiently.  

---

## üîπ Types of Indexing  

1. **Default Indexing**
   - Pandas assigns an integer index starting from 0.
   ```python
   s = pd.Series([10, 20, 30, 40])
   print(s[0])   # Access first element ‚Üí 10

In [36]:
# 1.Default Indexing
s4 = pd.Series([10, 20, 30, 40])
print(s4[0])
#for selecting a multiple index we use 
s[0:2] # state(included ): stop value (values to jump)

10

0    10
1    23
Name: numbers, dtype: int64

# 2.Custom Indexing

# You can define custom labels for indices.

In [ ]:


s = pd.Series([10, 20, 30], index=['a', 'b', 'c'])
print(s['b'])   # Access element with label 'b' ‚Üí 20

# 3.Slicing

## Works similar to Python lists (start:end).

In [ ]:
s = pd.Series([10, 20, 30, 40, 50])
print(s[1:4])   # Elements at positions 1 to 3

# 4.Label-based Indexing (.loc)

## Access elements using index labels.

In [ ]:
s = pd.Series([100, 200, 300], index=['x', 'y', 'z'])
print(s.loc['y'])   # ‚Üí 200

# 5.Position-based Indexing (.iloc)

## Access elements using integer positions.

In [41]:
s = pd.Series([100, 200, 300], index=['x', 'y', 'z'])
print(s.iloc[1])   # ‚Üí 200

200

In [43]:
s.iloc[[0,1,2]]

x    100
y    200
z    300
dtype: int64


# 6.Boolean Indexing

## Filter elements based on conditions.

In [44]:
s = pd.Series([10, 20, 30, 40, 50])
print(s[s > 25])   # Returns elements > 25

2    30
3    40
4    50
dtype: int64

# üìå Creating a Pandas Series from a Dictionary  

- A **dictionary** in Python has **key-value pairs**.  
- In Pandas Series:
  - **Keys** ‚Üí become **index labels**  
  - **Values** ‚Üí become **data elements**  

### Example:
```python


# Dictionary

In [46]:

# Dictionary of fruits and their protein content (grams per 100g)
fruits_protein = {
    "Apple": 0.3,
    "Banana": 1.1,
    "Orange": 0.9,
    "Mango": 0.8,
    "Papaya": 0.5,
    "Guava": 2.6,
    "Grapes": 0.6,
    "Pineapple": 0.5,
    "Strawberry": 0.8,
    "Blueberry": 0.7,
    "Blackberry": 1.4,
    "Raspberry": 1.2,
    "Kiwi": 1.1,
    "Pomegranate": 1.7,
    "Watermelon": 0.6,
    "Cantaloupe (Muskmelon)": 0.8,
    "Cherry": 1.0,
    "Peach": 0.9,
    "Pear": 0.4,
    "Plum": 0.7,
    "Apricot": 1.4,
    "Fig": 0.8,
    "Date": 1.8,
    "Jackfruit": 1.7,
    "Avocado": 2.0,
    "Dragon Fruit": 1.2,
    "Lychee": 0.8,
    "Coconut (fresh)": 3.3
}


# Create Series from dictionary
s = pd.Series(fruits_protein,name="protein")

print("Series from Dictionary:\n", s)
print("\nIndex:", s.index)
print("Values:", s.values)

Series from Dictionary:
 Apple                     0.3
Banana                    1.1
Orange                    0.9
Mango                     0.8
Papaya                    0.5
Guava                     2.6
Grapes                    0.6
Pineapple                 0.5
Strawberry                0.8
Blueberry                 0.7
Blackberry                1.4
Raspberry                 1.2
Kiwi                      1.1
Pomegranate               1.7
Watermelon                0.6
Cantaloupe (Muskmelon)    0.8
Cherry                    1.0
Peach                     0.9
Pear                      0.4
Plum                      0.7
Apricot                   1.4
Fig                       0.8
Date                      1.8
Jackfruit                 1.7
Avocado                   2.0
Dragon Fruit              1.2
Lychee                    0.8
Coconut (fresh)           3.3
Name: protein, dtype: float64

Index: Index(['Apple', 'Banana', 'Orange', 'Mango', 'Papaya', 'Guava', 'Grapes',
       'Pineapple', 'Strawberry', 'Blueberry', 'Blackberry', 'Raspberry',
       'Kiwi', 'Pomegranate', 'Watermelon', 'Cantaloupe (Muskmelon)', 'Cherry',
       'Peach', 'Pear', 'Plum', 'Apricot', 'Fig', 'Date', 'Jackfruit',
       'Avocado', 'Dragon Fruit', 'Lychee', 'Coconut (fresh)'],
      dtype='object')
Values: [0.3 1.1 0.9 0.8 0.5 2.6 0.6 0.5 0.8 0.7 1.4 1.2 1.1 1.7 0.6 0.8 1.  0.9
 0.4 0.7 1.4 0.8 1.8 1.7 2.  1.2 0.8 3.3]

### ‚úÖ Conditional Selection in Pandas

- **Definition:** Selecting rows/values based on a condition (Boolean indexing).
- Works like filtering in SQL/Excel.
- Returns only the data that matches the condition.**



### üìå Conditional Selection in Pandas (Series)

- **Definition:** Extract elements from a Series using conditions.
- Produces a Boolean mask (`True/False`) and returns matching values.

In [48]:
s>1

Apple                     False
Banana                     True
Orange                    False
Mango                     False
Papaya                    False
Guava                      True
Grapes                    False
Pineapple                 False
Strawberry                False
Blueberry                 False
Blackberry                 True
Raspberry                  True
Kiwi                       True
Pomegranate                True
Watermelon                False
Cantaloupe (Muskmelon)    False
Cherry                    False
Peach                     False
Pear                      False
Plum                      False
Apricot                    True
Fig                       False
Date                       True
Jackfruit                  True
Avocado                    True
Dragon Fruit               True
Lychee                    False
Coconut (fresh)            True
Name: protein, dtype: bool

In [49]:
# now i don't want these true and false I want frutes which protine is greater then one
s[s>1]

Banana             1.1
Guava              2.6
Blackberry         1.4
Raspberry          1.2
Kiwi               1.1
Pomegranate        1.7
Apricot            1.4
Date               1.8
Jackfruit          1.7
Avocado            2.0
Dragon Fruit       1.2
Coconut (fresh)    3.3
Name: protein, dtype: float64

# Logical Operater
# 1.And
# 2.OR 
# 3.Nor

In [54]:
s[(s>0.5) & (s<2)]

Banana                    1.1
Orange                    0.9
Mango                     0.8
Grapes                    0.6
Strawberry                0.8
Blueberry                 0.7
Blackberry                1.4
Raspberry                 1.2
Kiwi                      1.1
Pomegranate               1.7
Watermelon                0.6
Cantaloupe (Muskmelon)    0.8
Cherry                    1.0
Peach                     0.9
Plum                      0.7
Apricot                   1.4
Fig                       0.8
Date                      1.8
Jackfruit                 1.7
Dragon Fruit              1.2
Lychee                    0.8
Name: protein, dtype: float64

In [56]:
# modification of Series
s['Plum']=5.0
s

Apple                     0.3
Banana                    1.1
Orange                    0.9
Mango                     0.8
Papaya                    0.5
Guava                     2.6
Grapes                    0.6
Pineapple                 0.5
Strawberry                0.8
Blueberry                 0.7
Blackberry                1.4
Raspberry                 1.2
Kiwi                      1.1
Pomegranate               1.7
Watermelon                0.6
Cantaloupe (Muskmelon)    0.8
Cherry                    1.0
Peach                     0.9
Pear                      0.4
Plum                      5.0
Apricot                   1.4
Fig                       0.8
Date                      1.8
Jackfruit                 1.7
Avocado                   2.0
Dragon Fruit              1.2
Lychee                    0.8
Coconut (fresh)           3.3
Name: protein, dtype: float64

### üìå Pandas DataFrame

- **Definition:** A 2D labeled data structure (rows & columns), like a table in Excel/SQL.
- **Components:**
  - **Rows (Index):** Labels for each record.
  - **Columns:** Labels for each variable/feature.
  - **Values:** Actual data stored in cells.
- **Can store:** Different data types (int, float, string, bool) in different columns.
- **Creation:** From dictionaries, lists of lists, NumPy arrays, CSV/Excel/SQL files.

#### ‚úÖ Example
```python
import pandas as pd

data = {
    "Name": ["Alice", "Bob", "Charlie"],
    "Age": [25, 30, 35],
    "City": ["Delhi", "Mumbai", "Pune"]
}

df = pd.DataFrame(data)
print(df)

In [58]:
### üìå Pandas DataFrame


import pandas as pd

data = {
    "EmployeeID": [101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
    "Name": ["Alice", "Bob", "Charlie", "David", "Eva", "Frank", "Grace", "Hannah", "Ian", "Jack"],
    "Age": [25, 30, 28, 35, 29, 40, 32, 27, 31, 38],
    "Department": ["HR", "IT", "IT", "Finance", "HR", "Finance", "IT", "HR", "Finance", "IT"],
    "Salary": [50000, 60000, 55000, 70000, 52000, 75000, 58000, 51000, 72000, 61000],
    "JoiningDate": ["2020-01-15", "2019-03-22", "2021-07-10", "2018-11-05", "2020-06-30",
                    "2017-09-17", "2019-12-01", "2021-04-12", "2018-05-20", "2020-08-25"]
}

df = pd.DataFrame(data)
print(df)

   EmployeeID     Name  Age Department  Salary JoiningDate
0         101    Alice   25         HR   50000  2020-01-15
1         102      Bob   30         IT   60000  2019-03-22
2         103  Charlie   28         IT   55000  2021-07-10
3         104    David   35    Finance   70000  2018-11-05
4         105      Eva   29         HR   52000  2020-06-30
5         106    Frank   40    Finance   75000  2017-09-17
6         107    Grace   32         IT   58000  2019-12-01
7         108   Hannah   27         HR   51000  2021-04-12
8         109      Ian   31    Finance   72000  2018-05-20
9         110     Jack   38         IT   61000  2020-08-25

In [ ]:


print("now there are custom heads all so mean you can select how many top values should print")
df.head(2)

now there are custom heads all so mean you can select how many top values should print

   EmployeeID   Name  Age Department  Salary JoiningDate
0         101  Alice   25         HR   50000  2020-01-15
1         102    Bob   30         IT   60000  2019-03-22

In [61]:
df.tail()

   EmployeeID    Name  Age Department  Salary JoiningDate
5         106   Frank   40    Finance   75000  2017-09-17
6         107   Grace   32         IT   58000  2019-12-01
7         108  Hannah   27         HR   51000  2021-04-12
8         109     Ian   31    Finance   72000  2018-05-20
9         110    Jack   38         IT   61000  2020-08-25

In [62]:
# using loc and iloc

df.iloc[1:3]

   EmployeeID     Name  Age Department  Salary JoiningDate
1         102      Bob   30         IT   60000  2019-03-22
2         103  Charlie   28         IT   55000  2021-07-10

In [63]:
df.loc[1:3,["Age","Department"]]

   Age Department
1   30         IT
2   28         IT
3   35    Finance

In [65]:
df[["Age","Department"]]

   Age Department
0   25         HR
1   30         IT
2   28         IT
3   35    Finance
4   29         HR
5   40    Finance
6   32         IT
7   27         HR
8   31    Finance
9   38         IT

In [66]:
df.shape

(10, 6)

### üìå Drop Operation in Pandas DataFrame / Series

- **Definition:** Used to remove rows or columns from a DataFrame or elements from a Series.
- **Default behavior:** Returns a **new object**; the original remains unchanged.
- **`inplace=True` option:** Modifies the original object directly without creating a new one.

---

#### Example: Drop in DataFrame

In [70]:
df.drop("Age",axis=1,inplace=True)

KeyError: "['Age'] not found in axis"

In [71]:
df

   EmployeeID     Name Department  Salary JoiningDate
0         101    Alice         HR   50000  2020-01-15
1         102      Bob         IT   60000  2019-03-22
2         103  Charlie         IT   55000  2021-07-10
3         104    David    Finance   70000  2018-11-05
4         105      Eva         HR   52000  2020-06-30
5         106    Frank    Finance   75000  2017-09-17
6         107    Grace         IT   58000  2019-12-01
7         108   Hannah         HR   51000  2021-04-12
8         109      Ian    Finance   72000  2018-05-20
9         110     Jack         IT   61000  2020-08-25

In [72]:
df.info()
# to check other the inforamtaion

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   EmployeeID   10 non-null     int64
 1   Name         10 non-null     object
 2   Department   10 non-null     object
 3   Salary       10 non-null     int64
 4   JoiningDate  10 non-null     object
dtypes: int64(2), object(3)
memory usage: 532.0+ bytes

# describe()
## this tell only statical inforamation about data

In [73]:
df.describe()

       EmployeeID        Salary
count    10.00000     10.000000
mean    105.50000  60400.000000
std       3.02765   9082.339395
min     101.00000  50000.000000
25%     103.25000  52750.000000
50%     105.50000  59000.000000
75%     107.75000  67750.000000
max     110.00000  75000.000000

### üìå Broadcasting in Pandas (DataFrame)

- **Definition:** Automatically applies an operation on all rows or columns of a DataFrame or between a DataFrame and a Series/scalar without loops.  
- **Scalar + DataFrame:** Applied to every cell.  
- **Series + DataFrame:** Applied row-wise (`axis=0`) or column-wise (`axis=1`) with automatic alignment.  
- **Use:** Fast, memory-efficient vectorized operations.

In [74]:
# Broadcasting

df["Salary"]=df["Salary"]+500

In [75]:
df["Salary"]

0    50500
1    60500
2    55500
3    70500
4    52500
5    75500
6    58500
7    51500
8    72500
9    61500
Name: Salary, dtype: int64